snippet file
#################################################################
#
# File: 		${1:filename.mk}
#
# Description: 	${2:Edit your description of this file} 
#
#################################################################

endsnippet

snippet #=
#===============================================================
#   ${1:Section Marker}
#===============================================================

endsnippet
